    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About me</h2>
              <br/>
                <p>1995年生まれ。2018年、ピティナピアノコンペティション特級グランプリ、及び文部科学大臣賞、スタインウェイ賞受賞。2002年、千葉音楽コンクール全部門最優秀賞を史上最年少（小1）にて受賞。2005年、ピティナピアノコンペティション全国大会にて、Jr.G 級金賞受賞。2011年および2017年、ショパン国際コンクール in ASIA 中学生の部および大学・一般部門アジア大会にて金賞受賞、日本クラシック音楽コンクール大学男子の部、第3位(最高位)。これまでに国立ブラショフ・フィルハーモニー交響楽団、日本フィルハーモニー交響楽団オーケストラと共演。現在、東京大学大学院1年生。金子勝子、吉田友昭の各氏に師事。
2018年9月より半年間、フランス音響音楽研究所 (IRCAM) にて機械学習を用いた自動採譜、自動編曲の研究に従事。フランス留学中にクレール・テゼール、ジャン＝マルク・ルイサダの各氏に師事。クラシックに留まらず、ジャズやゲーム音楽をYouTubeに投稿するなど、幅広く活動している。</p>
                <br/>
              </div>
        </div>
    </section>
