<section id="concerts">

<div class="container">
<div class="wrapper">
<div class="home">
    <h1 itemprop="name headline">Concerts</h1>
<div class="row pack">
    {% for post in site.posts reversed %}
    {% if post.category == 'Concerts' %}
        <div class="col-xs-6 col-md-3 card">
         <a href="{{ post.url | prepend: site.baseurl }}" class="index-anchor">
            <div class="panel panel-default">
              {% if post.img %}
              <img width="100%" src="/img/concerts/{{ post.img }}" >
              {% else %}
              <img width="100%" src="/img/noimage.jpg">
              {% endif %}

              <div class="panel-body">
                <h3 class="panel-title pull-left">{{ post.title }}</h3>
                <span class="post-meta pull-right"><small>{{ post.date | date: "%b %-d, %Y" }}</small></span>
              </div>

              <div class="panel-body">
                <small>{{ post.content | strip_html | strip_newlines | truncate: 150 }}</small>
              </div>
            </div>
            </a>
        </div>
        {% else %}
        {% endif %}
      {% endfor %}
</div>
</div>
</div>
</div>
