<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a class="page-scroll" href="/#home">日本語</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="/en/">English</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="/fr/">Français</a>
                    </li>
                </ul>
            </div>
            <p class="copyright text-muted small">{{ site.copyright }}</p>
        </div>
    </div>
</footer>
